# PLATFORM
# ========
# All exclusions that are specific to the NPM, GIT, IDE and Operating Systems.

# - Do not allow installed node modules to be committed. Doing `npm install -d` will bring them in root or other places.
node_modules
# - Do not allow nyc output folder to be commited
.nyc_output
